<footer>
	<p>Copyright {{getCurrentYear}}</p>
</footer>

<!-- There is no need for calling helper by special syntax the handlebars automatically first check the helpers of that name and if they don't find any then they the data which is send -->